*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-form{
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  width: 400px;
  border-radius: 10px;
  margin: 1cm auto;
  padding: 30px;
}

.card-form .header{
  text-align: center;
}
.card-form label{
  display: block;
  margin-bottom: 10px;
}

.card-form .form-group{
  margin-top: 20px;
}
.card-form input{
  width: 100% !important;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
}

.card-form .submit-btn{
  margin-top: 30px;
  cursor: pointer;
}

.users > div {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

body{
  padding: 30px;
}


